<header class="masthead">
  <h1 class="masthead-heading">Tweetful</h1>
  <p class="masthead-intro">Making The Internet a Little More Thoughtful</p>
</header>

<section class="info">
  <header>
    <h2>Peter Lonestar</h2>
    <h3>Founder</h3>
  </header>
  <p>
    Maecenas sed diam eget risus varius blandit sit amet non magna.  Integer posuere erat a ante venenatis dapibus posuere velit alizuet.  Donec ullamcorper.
  </p>
</section>

<section class="info">
  <header>
    <h2>Bill Billerson</h2>
    <h3>CFO</h3>
  </header>
  <p>
    Cras mattis consectetur purus sit amet fermentum.  Donec sed odio dui.  Sed posuere consectetur est at labortis.
  </p>
</section>

<section class="info">
  <header>
    <h2>You!</h2>
    <h3>CTO</h3>
  </header>
  <p>
    Vivamus sagittis lacus vel augue laoreet rutrum fauvibus dolor auctor.  Aenean lacinia bibendum nulla sed consectetur.  morbi leo risus, porta ac.
  </p>
</section>

<footer>
  Contact us: <span>admin@tweetful.io</span>
</footer>